<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="suhockii.dev.weather">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="suhockii.dev.weather.WeatherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="suhockii.dev.weather.presentation.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/SplashScreenTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <meta-data
            android:name="WEATHER_API_KEY"
            android:value="f66b70ebb071127760c387562b9308c8"/>
        <meta-data
            android:name="PLACES_API_KEY"
            android:value="AIzaSyDJD6Kv7jdrXXuV8GhcpOPUhPp10xKAIcU"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f779c23c3f096ce55675eb5a228961f2811e8fa2" />
    </application>
</manifest>